@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$header-height: 50px;
$primary: #59A1D6;
$dark-link: #0E5386;
$text-field-gray: #E8E8E8;
$content-container: #F5F5F5;

$custom-colors: (
  "primary": $primary
);

$theme-colors: map-merge($theme-colors, $custom-colors); // override default bootstrap colours
@import "bootstrap/scss/bootstrap";

#root {
  font-family: "Montserrat";
  font-size: 12px;
}

.main-content {
  padding-top: $header-height;
  min-height: calc(100vh - $header-height);
}

.data-content {
  width: 100%;
  height: 100%; //ended up hacking a way to set the height if 100% < viewport... dunno if its the best way though
  background-color: $content-container;
  padding-top: 2rem; //for some reason shorthand isn't working
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
}

.plain-section {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
  transition: opacity 0.3s ease
}

a:visited {
  color: $primary;
}

hr {
  color: $primary;
  border-width: 2px;
}

.title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 50px;
}

.heading-1 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 35px;
  display: flex;
  align-items: center;
}

.heading-2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.heading-3 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.heading-4 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}


// ================= HEADER =================

#header {
  display: flex;
  justify-items: start;
  height: 50px;
  box-sizing: unset;

  .navbar-collapse {
    .nav-item {
      margin-left: 20px;
      font-size: 16px;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        opacity: 70%;
        transition: opacity 0.2s ease
      }

      a.active {
        color: $dark-link;
        transition: color 0.2s ease
      }
    }
  }
}

// =================== BUTTONS ===================== //

.big-button {
  background-color: $primary;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

  div.button-text {
    font-family: "Verdana";
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 700;
    transform: translateY(40%);
  }

  .material-icons {
    fill: white;
    color: white;
    height: 30px;
    width: 30px;
    // position: absolute;
    // left: 59.3%;
    transform: translateY(40%);
  }

  .heading-1.text-white {
    display: flex;
    align-self: center;
    margin-left: 10px;
  }
}

button:hover {
  opacity: 80%;
  transition: opacity 0.3s ease;
}

.plus-button {
  width: 24px;
  height: 24px;
  margin-left: 20%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

.disabled {
  opacity: 50%;

  &:hover {
    opacity: 50%;
    transition: none;
  }
}

//=================== DOWNLOADS PAGE =========================//

.params-format-wrapper {
  width: 70%;
}

.params-section {
  background-color: white;
  padding: 2rem;
  height: 100%;
}

.selection-section {
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin-left: 20px;
}

.selection-wrapper {
  position: sticky;
  top: calc($header-height + 2rem);
  display: flex;
  flex-direction: column;
}


//==================== FORMS ======================//

.text-field {
  height: 35px;
  padding: 8px;
  border: none;
  background-color: $text-field-gray;
}

.text-field:focus {
  outline: none;
}

.text-field-indicator {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 200;
}

.text-field-error {
  font-size: 10px;
  color: red;
  text-align: left;
}

i.help-icon {
  color: #929292;
  height: 20px;
  width: 30px;
  transform: scale(0.8);
  margin-left: 8px;
}

.tooltip {
  // overriding bootstrap tooltip because custom classes aren't working ahahah
  max-width: 500px;

  div.tooltip-inner {
    max-width: 500px;
    padding: 10px;
    text-align: left;
  }
}

//==================== Preview Table ======================//

.preview-tabs {
  background-color: none;
  color: black;
  border-radius: 0;
  border: none;

  li {
    button.nav-link {
      color: black;
      font-weight: 700;
      background-color: $text-field-gray;
      border-radius: 0;
      border: none;
    }

    button.nav-link:hover {
      background-color: $content-container;
      transition: background-color 0.3s ease;
    }

    button.nav-link.active {
      background-color: $content-container;
    }
  }
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.preview-table {
  background-color: $content-container;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  display: table;
  white-space: nowrap;
}

// ====================== Documentation Page ========================//

.doc-menu {
  color: $primary;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 25%;

  .selected {
    color: $dark-link;
  }
}