@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$header-height: 50px;
$primary: #59A1D6;
$dark-link: #0E5386;
$text-field-gray: #E8E8E8;
$content-container: #F5F5F5;

$custom-colors: (
  "primary": $primary
);

$theme-colors: map-merge($theme-colors, $custom-colors); // override default bootstrap colours
@import "bootstrap/scss/bootstrap";

#root {
  font-family: "Montserrat";
  font-size: 12px;
}

.main-content {
  padding-top: $header-height;
  min-height: calc(100vh - $header-height);
}

.data-content {
  width: 100%;
  height: 100%; //ended up hacking a way to set the height if 100% < viewport... dunno if its the best way though
  background-color: $content-container;
  padding-top: 2rem; //for some reason shorthand isn't working
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
}

.plain-section {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  opacity: 70%;
  transition: opacity 0.3s ease
}

a:visited {
  color: $primary;
}

hr {
  color: $primary;
  border-width: 2px;
}

.title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 50px;
}

.heading-1 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 35px;
  display: flex;
  align-items: center;
}

.heading-2 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.heading-3 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.heading-4 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.heading-5 {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}


// ================= HEADER =================

#header {
  display: flex;
  justify-items: start;
  height: 50px;
  box-sizing: unset;

  .navbar-collapse {
    .nav-item {
      margin-left: 20px;
      font-size: 16px;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        opacity: 70%;
        transition: opacity 0.2s ease
      }

      a.active {
        color: $dark-link;
        transition: color 0.2s ease
      }
    }
  }
}

// =================== BUTTONS ===================== //

.big-button {
  background-color: $primary;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  margin-top: 20px;

  div.button-text {
    font-family: "Verdana";
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 700;
    transform: translateY(40%);
  }
}

.med-button {
  background-color: $primary;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 3px;
  margin-top: 15px;

  div.med-button-text {
    font-family: "Verdana";
    font-size: 15px;
    text-align: center;
    color: white;
    font-weight: 700;
    transform: translateY(32%);
  }

  i.material-icons {
    fill: white;
    color: white;
    height: 20px;
    width: 20px;
    transform: translateY(32%);
  }
}

.material-icons {
  fill: white;
  color: white;
  height: 30px;
  width: 30px;
  // position: absolute;
  // left: 59.3%;
  transform: translateY(40%);
}

.heading-1.text-white {
  display: flex;
  align-self: center;
  margin-left: 10px;
}

button:hover {
  opacity: 80%;
  transition: opacity 0.3s ease;
}

.plus-button {
  width: 24px;
  height: 24px;
  margin-left: 20%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

.disabled {
  opacity: 50%;

  &:hover {
    opacity: 50%;
    transition: none;
  }
}

.textarea-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 99;
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 7px;
  background-color: transparent;
  color: rgba(0, 0, 0, .6);

  // transition-property: outline;
  // transition-duration: 0.5s;
  // transition-timing-function: ease;
  // transition: outline 1s ease;

  transition: outline 0.5s ease;
  -moz-transition: outline 0.5s ease;
  -webkit-transition: outline 0.5s ease;

  &:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: background-color 0.3s ease
  }
}

.transparent-button {
  background: transparent;
  width: 100px;
  height: 40px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // background-color: red;

  .button-text {
    font-size: 14px;
    text-align: center;
    color: black;
    transform: translateY(40%);
  }

  i.material-icons {
    color: $primary;
    height: 40px;
    width: 40px;
    transform: translateY(20%);
  }
}

//=================== DOWNLOADS PAGE =========================//

.params-format-wrapper {
  width: 70%;
}

.params-section {
  background-color: white;
  padding: 2rem;
  height: 100%;
}

.selection-section {
  width: 100%;
  background-color: white;
  padding: 2rem;
  margin-left: 20px;
}

.selection-wrapper {
  position: sticky;
  top: calc($header-height + 2rem);
  display: flex;
  flex-direction: column;
}


//==================== FORMS ======================//

.text-field {
  height: 35px;
  padding: 8px;
  border: none;
  background-color: $text-field-gray;
}

.text-field:focus {
  outline: none;
}

.text-field-indicator {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 200;
}

.text-field-error {
  font-size: 10px;
  color: red;
  text-align: left;
}

i.help-icon {
  color: #929292;
  height: 20px;
  width: 30px;
  transform: scale(0.8);
  margin-left: 8px;
}

.tooltip {
  // overriding bootstrap tooltip because custom classes aren't working ahahah
  max-width: 500px;

  div.tooltip-inner {
    max-width: 500px;
    padding: 10px;
    text-align: left;
  }
}

//==================== Preview Table ======================//

.preview-tabs {
  background-color: none;
  color: black;
  border-radius: 0;
  border: none;

  li {
    button.nav-link {
      color: black;
      font-weight: 700;
      background-color: $text-field-gray;
      border-radius: 0;
      border: none;
    }

    button.nav-link:hover {
      background-color: $content-container;
      transition: background-color 0.3s ease;
    }

    button.nav-link.active {
      background-color: $content-container;
    }
  }
}

.table-wrapper {
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.preview-table {
  background-color: $content-container;
  width: 100%;
  max-height: 400px;
  overflow: auto;
  display: table;
  white-space: nowrap;
}

// ====================== Documentation Page ========================//

.doc-menu {
  color: $primary;
  display: flex;
  margin-right: 2rem;
  flex-direction: column;
  width: 20%;

  .selected {
    color: $dark-link;
  }

  div {
    color: white;
    background-color: $primary;
    padding: 0.5rem;
    margin: 0.5rem 1rem 0.5rem 0;
    padding-left: 1rem;
    font-size: 14px;

    &:hover {
      opacity: 70%;
      transition: opacity 0.3s ease
    }
  }
}

.doc-img {
  height: auto;
  display: flex;
  align-self: center;
}

.img-caption {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.code-block {
  background-color: $text-field-gray;
  padding: 2rem;
  margin: 1rem;
  font-family: "Source Code Pro";
  tab-size: 4;
  width: 50%;
  max-height: 500px;
  overflow-y: auto;
}

// ================ API section ================ //

.text-area {
  background-color: $text-field-gray;
  border-radius: 15px;
  border: 2px solid $text-field-gray;
  padding: 2rem;
  font-family: "Source Code Pro";
  tab-size: 4;
  height: 100%;
  overflow: auto;
  resize: none;

  &:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1)
  }
}

select {
  font-family: inherit;
  font-size: 12px;

  option:hover {
    background-color: $primary;
  }
}

#response-textarea {
  width: 100%
}

// ======================== VISUALIZATION PAGE ======================== //

.stepper-wrapper {
  // position: absolute;
  bottom: $header-height;
  height: 40px;
  width: 100%;
  margin-top: 1rem;
  // margin-bottom: 1rem;

  // I have to calculate width here because it doesn't like sticking in the wrapper div...
  // pretty annoying I'll see if I can fnd another way to do this
  // nvm no longer relevant with new placement

  // /* Firefox */
  // width: -moz-calc(100% - 8rem);
  // /* WebKit */
  // width: -webkit-calc(100% - 8rem);
  // /* Opera */
  // width: -o-calc(100% - 8rem);
  // /* Standard */
  // width: calc(100% - 8rem);

  .stepper-title {
    font-size: 16px;
    font-weight: 700;
    transform: translateY(20%);
  }
}

.stepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden-input {
  // same height and width as the container button
  height: 40px;
  width: 200px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}